.Home {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 3px whitesmoke;
    
}


@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');