.Navbar {
    display: flex;
    background-color: #22223b;
    border:cadetblue solid 2px;
    justify-content: space-around;
    

}

.Navbar * {
    font-size: 25px;
    padding: 20px;
    color: aliceblue;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;

}


@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');