.HomeContent {
    border: 1px solid black;
    border-radius: 10px 0;
    box-shadow: 10px 10px 20px black;
    margin: 10px auto;
    width: 80%;

    
}


@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');